/* styles.css */
.custom-modal .ant-modal-content {
  background-color: #1e1e2f;
  color: white;
}

.custom-modal .ant-modal-header {
  background-color: #1e1e2f;
  border-bottom: 1px solid #333;
}

.custom-modal .ant-modal-title {
  color: white;
}

.custom-modal .ant-modal-footer {
  background-color: #1e1e2f;
  border-top: 1px solid #333;
}
